{
  "extends": [
    // 'airbnb-base',
    "next/core-web-vitals"
    // 'plugin:prettier/recommended',
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true,
    "__PROD__": true
  },
  "rules": {
    "prettier/prettier": 0,
    "max-len": 0,
    "spaced-comment": 0,
    "@next/next/no-img-element": 0,
    "react/jsx-curly-brace-presence": 0,
    "jsx-a11y/alt-text": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/no-unknown-property": 0,
    "quotes": 0,
    "semi": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "react/display-name": 0,
    "no-debugger": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-vars": 0
  }
}
